body {
    background-color: #f6f3ee;
    font-family: 'Work Sans', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

header {
    text-align: center;
    background-color: #3c5556;
    padding: 1.5rem;
    color: white;
}

header,
footer,
main {
    max-width: 1200px;
    margin: 0 auto;

}


h1,
h2,
h3,
footer {
    font-family: 'Crimson Text', serif;
}


footer {
    text-align: center;
    background-color: #3c5556;
    padding: 0.5rem;
    margin-top: 1.5em;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    margin-bottom: 5px;


}

footer header h1 {
    font-size: 3em;
    padding: 0px;
}

footer p {
    padding-bottom: 5px;
    margin-bottom: -3px;
}

section img {
    width: 90%;
    height: auto;
}

section {
    display: block;
    background-color: #c8dbd7;
    border-bottom: 10px solid #f5d4c3;
    border-top: 10px solid #f5d4c3;
}

section p {
    margin: 1.3em;
    padding: 0.5px;
    font-size: 18px;
    text-align: left;
}

main section {
    margin: 0.7em;
}

footer a:visited {
    color: #f5d4c3
}