@media only screen and (min-width: 600px) {
    main {
        font-size: .8rem;
    }

    nav ul li a {
        font-size: .8rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }



    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 100%;
        height: auto;
    }

}