body {
    background-color: rgb(247, 248, 248);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding: 1rem;
}

section {
    display: block;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgb(13 15 16 / 30%);
}

img {
    border-style: none;
    width: 100%;
}

h2 {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

@media only screen and (min-width: 40rem) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 65rem) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}