/*Nav Styles*/
nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #E7E9F0;
    text-align: center;
    padding: 0px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #132035;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    padding: 20px;
    transition: 0.25s;

}

nav a:hover {
    background-color: #535F80;
    color: #E7E9F0;
    --d: 75%;
}

/*Header styling*/

header {
    background-color: #051747;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

header img {
    width: 70px;
    height: auto;
}

header h1 {
    margin-top: 0px;
    color: #E7E9F0;
    font-size: 2rem;
    margin-bottom: 5px;
}

.headings {
    display: flex;
    flex-direction: column;
}

/*Slogan*/
.m {
    letter-spacing: 1pt;
    color: #E7E9F0;
    margin-left: 20px;
    font-size: .75rem;
    padding-bottom: 5px;
    margin-left: 0px;

}

header,
nav,
footer {
    max-width: 100%;
    padding: 15px;

}



main {
    max-width: 1200px;
    margin: 0 auto;
    font-size: .9rem;
    background-color: white;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

h3 {
    font-size: 1.5rem;
    padding: 10px;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

/*For some reason it gives padding when I remove it and put in the other nav*/
nav {
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}


h1,
h2,
h3 {
    color: #051747;
}

main p,
q {
    color: #051747;
}

q {
    font-style: italic;
}

h1,
h2,
h3,
footer {
    font-family: 'Crimson Text', serif;
}

footer {
    text-align: center;
    background-color: #051747;
    padding: 0.6rem;
    color: #E7E9F0;
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
}

.contentbox {
    background-color: #E7E9F0;
    padding: 25px;
    margin: 10px;
    border-left: 5px solid #051747;
}

.responsive li {
    display: block;
}

.herodiv img {
    width: 100%;
}


footer p {
    margin: 5px;

}

.active {
    background-color: #051747;
    color: white;
}


/* contact info section*/
.contact {
    background-color: #E7E9F0;
    display: grid;
    padding: 15px;
    text-align: left;
}

.contact p,
h3 {
    text-align: left;

}

.contact h3 {
    font-size: 1.8rem;
    margin: 0px;
    padding-left: 0px;
}

.map {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    width: 70%;
}

.social {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 5px;
}

.social img {
    width: 80%;
}


#banner {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #E7E9F0;
    color: #051747;
}

/*Data Info Styling*/
.data {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding: 1rem;
}

.data h3 {
    text-align: center;
    margin: 0px;
}

.data img {
    padding: 1rem;
    width: 80%;
    max-width: 300px;
}

.data section {
    padding: 2rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.preston,
.fish,
.soda {
    background-color: #E7E9F0;
    box-shadow: 0 1px 5px 0 rgb(13 15 16 / 30%);
    text-align: center;
}

/*Article styling*/
.article-style {
    display: block;
    padding: 1rem;
    text-align: center;
}

.article-para {
    text-align: left;
}

.article-para h3 {
    text-align: center;
}

.article-img {
    width: 80%
}

@media only screen and (max-width: 600px) {
    .div_forecast {
        display: none;
    }
}