nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #E7E9F0;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

header {
    background-color: #051747;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

header img {
    width: 70px;
    height: auto;
}

header h1 {
    margin-top: 0px;
    color: #E7E9F0;
    font-size: 2rem;
    margin-bottom: 5px;
}

.headings {
    display: flex;
    flex-direction: column;
}

.m {
    letter-spacing: 1pt;
    color: #E7E9F0;
    margin-left: 20px;
    font-size: .75rem;
    padding-bottom: 5px;
    margin-left: 0px;

}

header,
nav,
footer {
    max-width: 100%;
    padding: 15px;

}

main {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    font-size: .9rem;
    background-color: white;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

h3 {
    font-size: 1.5rem;
    padding: 10px;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

/*small weather summary*/
.weathersummary .values {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.names {
    text-align: right;
}

.label_value {
    padding-left: 5px;
}

.weathersummary h3 {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

.weathersummary {
    box-shadow: 0 0 5px grey;
    padding: 10px;
    background-color: #E7E9F0;
}



nav {
    background-color: #E7E9F0;
    text-align: center;
    padding: 0px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #132035;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    padding: 20px;
    transition: 0.25s;

}

nav a:hover {
    background-color: #535F80;
    color: #E7E9F0;
    --d: 75%;
}

body {
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}


h1,
h2,
h3 {
    color: #051747;
}

main p {
    color: #051747;
}

h1,
h2,
h3,
footer {
    font-family: 'Crimson Text', serif;
}

footer {
    text-align: center;
    background-color: #051747;
    padding: 0.6rem;
    color: #E7E9F0;
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
}

.contentbox {
    background-color: #E7E9F0;
    padding: 25px;
    margin: 10px;
    border-left: 5px solid #051747;
}

.responsive li {
    display: block;
}

.herodiv img {
    width: 100%;
}

.contentbox {
    text-align: center;
}

footer p {
    margin: 5px;

}

/*small view for forecast*/

.active {
    background-color: #051747;
    color: white;
}


#banner {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #E7E9F0;
    color: #051747;
}

/*Form Styling*/

form fieldset {
    margin: 2rem 0;
    border: 2px solid #051747;
    border-radius: 10px;
    padding: 1rem 2%;

}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
    max-width: 34.5rem;
}

form label.top,
form div {
    max-width: 34.5rem;
    display: block;
    padding-top: 1rem;
    color: #051747;
    font-size: 1rem;
}


form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    background-color: #E7E9F0;
    padding: .75rem;
    border: solid 1px #051747;
    max-width: 34.5rem;
    color: #051747;
    border-radius: 4px;
}

form label.top input {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    max-width: 33rem;
    border: solid 1px #051747;
    font-size: 1rem;
    padding: .75rem;
    border-radius: 4px;
    background-color: #E7E9F0;
    color: #051747;
}


* {
    box-sizing: border-box;
}

form label.sbs {
    display: block;
    padding: .3rem 0;
    color: #051747;
}

form input.submitBtn {
    border: none;
    background-color: #051747;
    color: white;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    margin-left: 0px;
    width: 96%;
    max-width: 20rem;
}

#stormlist {
    width: 100%;
}

#stormrate {
    display: block;
    padding-top: 1rem;
    color: #051747;
    font-size: 1rem;
}

#rating {
    display: block;
    width: 400px;
}

#regionlist {
    width: 95%;
}

.comment {
    display: block;
    width: 95%;
    padding: 1rem;
}

#title {
    padding-left: 10px;
}

textarea {
    resize: vertical;
    /* user can resize vertically, but width is fixed */
}