@media only screen and (min-width: 50.5em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    header {
        align-items: center;
        justify-content: center;
    }

    main h2 {
        text-align: center;
        padding-top: 2rem;

    }


    nav ul li a {
        font-size: 1rem;
    }

    main {
        font-size: 1rem;
        justify-content: center;
        align-items: center;
    }


    footer {
        font-size: 1rem;
    }

    header h1 {
        font-size: 3.5rem;
    }

    header img {
        width: 100px;
    }

    .m {
        font-size: .9rem;
    }

    .contact {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .contact p,
    h3 {
        text-align: left;
    }

    /*forecast for large screen*/
    .forecast {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        padding-top: 3rem;
    }

    /* Grid */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }

    .grid-col {
        background-color: #E7E9F0;
        text-align: center;
    }

    .col-head {
        display: block;
        padding: 5px;
        text-align: center;
    }

    .grid img {
        width: 80px;
        border-radius: 100px;
        padding: 0px;
    }

    .data {
        display: block;
        padding: 0 5px 5px;
        font-size: 0.8rem;
        text-align: center;
    }

    /*town data styling*/
    .datahome {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
        padding: 1rem;
    }

    .data-info {
        display: block;
    }

    /*Article styling*/
    .article-style {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .article h3 {
        text-align: left;
    }

    /*Weather summary*/
    .weathersummary {
        position: absolute;
        top: 25px;
        right: 50px;
        background: #E7E9F0;
        border: 1px solid white;
        padding: 25px;
        box-shadow: 0 0 5px grey;
        opacity: .9;
    }

    /*article*/
    .article img {
        float: right;
        width: 45%;
        margin-bottom: 5px;
        margin-left: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .article {
        text-align: left;
        margin-top: 4rem;

    }

    .article p {
        font-size: 1.2rem;
        padding: 10px;
        padding-top: 0px;
        margin-top: 0px;

    }

    .article h3 {
        font-size: 2rem;
        text-align: left;
        margin: 0px;
        margin-top: 25px;

    }

    .contact {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .contact p,
    h3 {
        text-align: left;
    }

    /*Events */
    .event p {
        width: 57%;
        font-size: 1.1rem;
    }

}