@media only screen and (min-width: 40em) {
    /* Grid */
    .grid-weather {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        max-width: 90%;
    }

    /*header*/
    header{
        justify-content: center;
    }

    .header {
        grid-template-columns: 1fr 2fr;
    }

    /*NAV*/
/*nav style*/
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .navigation li:first-child {
        display: none;
    }

    /*MAIN*/
    .header, .goal, .event-section, .foot, footer{
    max-width: 800px;
}
    /*Goal section*/
    .goal{
        grid-template-columns: 1fr;
    }

    /*event section*/
    .event-section {
        text-align: left;
    }

    .event-container {
        padding: .8rem;
    }

    .event-announce {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: left;
    }

    /*members*/
    .members {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .member-details{
        width: 100%;
    }

    /*comp*/
    .comp-logo{
        width: 30%;
    }

    /*contact*/
    .foot{
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    .foot-detail {
        grid-column: 1/3;
    }

    .foot .logo img {
        width: 40%;
    }

    /*****************WEST SEATTLE PAGE**************************/
    .seattle-intro{
    max-width: 60%;
    }

    /*****************Contact PAGE**************************/
    .contact-member {
        grid-template-columns: 1fr 1fr;
    }
  /***************JOIN PAGE********************************/

    .join{
        grid-template-columns: 1fr 1fr;
    }
    
    /************************DIRECTORY PAGE**********************/
    .information.grid {
        grid-template-columns: 1fr 1fr;
    }
}