
/*header*/
.logo img{
    width: 70%;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

header{
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
}

/*nav style*/

.navigation {
    list-style: none;
    padding-top: .5rem;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul {
    margin: 0;
    padding: .5rem;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #0f1e35;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    padding-bottom: 4px;
    font-size: 1.3rem;
}

.responsive li {
    display: block;
}

.active{
    color: #DF2935;
}

/*MAIN*/
.main-img {
    width: 100%;
}

h1,h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: #0F1E35;
}

h4{
    font-size: 1.2rem;
}

body{
    font-family: 'Inter', sans-serif;
}

.header, .goal, .event-section, .foot, footer{
    margin: 0 auto;
    max-width: 400px;
}

p{
    font-size: 1.2rem;
}

h3{
    font-size: 1.6rem;
}

.little-title {
    color: #2D5A95;
    font-size: 1rem;
}


.btn {
    margin: 2rem;
    padding: 1rem;
    border: none;
    background-color: #2D5A95;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    background-color: #DF2935;
}

/*motto*/
.first-img {
    position: relative;
}

.first-header{
    position: absolute;
    top: 23%;
    left: 16%;
    color: #0F1E35;
    font-size:3vw;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}


/*Weather Forecast */
.head {
    text-align: center;
}

.grid-col {
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    background-color:  #F0F3FA;
    text-align: center;
    margin-bottom: 1rem;
}

.grid-weather {
    border-right: 5px solid #ffffff;
    margin:0 auto;
    max-width: 60%;
}

.grid-col:hover {
    opacity: 0.75;
    background-color: #ffffff;
    color: #000000;
}

.col-head {
    display: block;
    padding: 5px;
    border-bottom: 5px solid #ffffff;
    background-color: #0F1E35;
    color: #ffffff;
}

.data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
}

.today-sum {
    font-size: .9rem;
    text-align: left;
    padding-left: 10%;
}

#current {
    text-transform: capitalize;
}

/*goals and mission*/
.goal {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
}

.goal-img{
    max-width: 100%;
}

/*events section*/
.event-container {
    background-color: #F0F3FA;
    padding: .5rem;
}

.event-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.event-announce {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 80%;
    margin:auto;
}

.event-details {
    background-color: #ffffff;
    padding: 1rem;
}

.first-event {
    background-color: #0f1e35;
    color: #ffffff;
}

.first-event h4{
    color: #ffffff;
}

.event-details h4 {
    margin: 0;
    font-size: 1rem;
}

.event-details p{
    margin: 3px;
    font-size: 1rem;
}

.event-btn {
    margin-left: 0px;   
    
}

.event-but {
    text-decoration: none;
    color: #ffffff;
}

.other-info {
    text-align: center;
}

/*member highlights*/
.members {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.member-details img{
    width: 100%;
}

.member-details{
    box-shadow: 0 1px 5px 0 #0d0f104d;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.member-highlight {
    text-align: center;
    padding: 2rem;
}



/*copmany highlights*/
.companies {
    background-color: #F0F3FA;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.comp-logo{
    width: 30%;
}

figure {
    margin: 1rem;
}

.comp-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

/*Contact Info*/
.foot .logo img {
    width: 70%;
}

.foot{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1rem;
    padding-top: 4rem;
}

.foot-detail p {
    padding-right: 2rem;
}

.list {
    list-style-type: none;
    padding-left: 0px;
}

.list a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #0F1E35;
}

.list li {
    padding-bottom: .7rem;
}

.list a:hover{
    border-bottom: 3px solid #DF2935;
    padding-bottom: 3px;
    color: #DF2935;
}

.social a {
    padding-right: 1rem;
}

.social img:hover{
    box-shadow: 1px 3px 10px 1px #0d0f104d;
    border-radius: 1rem;
}

.social img{
    width: 5%;
}


/*Footer*/
footer{
    margin-top: 2rem;
    text-align: center;
    border-top: solid 0.1px #0d0f104d;
}

/*****************WEST SEATTLE PAGE**************************/
.seattle-intro{
    max-width: 80%;
    margin:0 auto;
}
.seattlimge{
    max-width: 100%;
}

/*****************Contact PAGE**************************/
.contact-head {
    text-align: center;
}
.board {
    background-color: #F0F3FA;
}

form fieldset {
    margin: 0 auto;
    border: 1px solid #0f1e35;
    padding: 2.5rem 3%;
    max-width: 40rem;
}

form{
    padding: 1rem;
}

form legend {
    margin: 0 auto;
    padding: 0 .5rem;
    font-size: 1.2rem;
    max-width: 34.5rem;
}

form label.top,
form div {
    max-width: 34.5rem;
    display: block;
    padding-top: 1rem;
    color: #0f1e35;
    font-size: 1rem;
}


form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    background-color: #F0F3FA;
    padding: .75rem;
    border: solid 1px #0f1e35;
    max-width: 34.5rem;
    color: #0f1e35;
    border-radius: 4px;
}

form label.top input {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    border: solid 1px #0f1e35;
    font-size: 1rem;
    padding: .75rem;
    border-radius: 4px;
    background-color: #F0F3FA;
    color: #0f1e35;
}

.submit{
    margin: 0 auto;
    text-align: center;
    padding: 0;;
}

* {
    box-sizing: border-box;
}

form label.sbs {
    display: block;
    padding: .3rem 0;
    color: #0f1e35;
}

.comment {
    display: block;
    width: 100%;
    padding: 1rem;
}

textarea {
    resize: vertical;
    /* user can resize vertically, but width is fixed */
}

.map{
    text-align: center;
    margin: 1rem;
}

iframe {
    width: 50%;
}

  /***************JOIN PAGE********************************/

  .join{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.middle {
    font-size: 1.8rem;
}

.join-head{
    color: #ffffff;
    padding-left: 1.5rem;
}

.membership {
    width: 100%;
    height: 100%;
}

/************************DIRECTORY PAGE**********************/
.list-grid {
    text-align: center;

}

.list-grid .btn{
    font-size: 2rem;
    padding: 1rem;
}
/*Normal List View*/
.information{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem;
    width: 100%;
    margin: 0 auto;
    max-width: 70%;
    text-align: left;
    padding-top : 3rem;
    padding-bottom : 3rem;
 }

 .laid {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
 }

 .laid:nth-child(odd) {
     background: #0f1e35; 
     color: #ffffff;
    }

/*Grid View*/
.information.grid {
    grid-template-columns: 1fr;
    text-align: center;
}
.information.grid .laid {
    display: block;
}

.attributions {
    margin: 0 auto;
    max-width: 50%;
    font-size: 1.5rem;
    padding: 2rem;
}

.resource {
    color: #2D5A95; 
    text-decoration: none;
}

.resource:hover {
    color: #DF2935;
}

.resource:visited {
    color: #0F1E35;
}

/*
use less margin in the small view*/
