@media only screen and (min-width: 37.5em) {

    header,
    nav,
    main {
        font-size: 1.1rem;
        margin: 0 auto;
    }


    nav ul {
        font-size: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 0px;
    }




}